*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix {
    clear: both;
}


/* .................first section....... */

.header {
    width: 100%;
    height: 800px;
    background-image: url("../images/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header .header_head {
    padding-top: 20px;
}

.header .header_head img {
    float: left;
}

.header .header_head nav {
    float: right;
}

.header .header_head nav ul li {
    display: inline-block;
    padding-left: 15px;
}

.header .header_head nav ul li a {
    text-decoration: none;
    color: #fff;
}

.header .header_head nav ul li a:hover {
    color: rgb(223, 219, 219);
}

.header .header_content {
    width: 60%;
    margin: auto;
    position: absolute;
    top: 45%;
    left: 20%;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
}

.header .header_content h1 {
    font-size: 50px;
}

.header .header_content p {
    padding-top: 15px;
    opacity: 0.8;
    font-size: 18px;
}

.header .header_content button {
    padding: 20px 27px;
    margin-top: 40px;
    margin-left: 15px;
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 13px;
}

.header .header_content button:first-child {
    background: #fff;
    color: rgb(27, 27, 27);
}

.header .header_content button:last-child {
    background: #8be2e5;
    color: #fff;
}

.header .header_footer {
    width: 35px;
    height: 70px;
    position: absolute;
    bottom: 15%;
    left: 48.5%;
    border: 2px solid #fff;
    border-radius: 20px;
}

.header .header_footer .scroll {
    width: 4px;
    height: 10px;
    margin: auto;
    background: #fff;
    position: relative;
    top: 10px;
    animation: scrolling 1.3s ease-in-out infinite;
}

@keyframes scrolling {
    0% {
        opacity: 0;
        top: 15px;
    }
    30% {
        opacity: 1;
        top: 20px;
    }
    100% {
        opacity: 0;
        top: 40px;
    }
    /* 75% {
        opacity: 0;
        top: 40px;
    }
    100% {
        opacity: 1;
        top: 45px;
    } */
}


/* .................................... */

section.befirst {
    width: 100%;
    height: 600px;
    background-image: url("../images/be-the-first-bg.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 15%;
    text-align: center;
    background-attachment: fixed;
}

.befirst .befirst_content {
    color: #fff;
    text-transform: capitalize;
}

.befirst .befirst_content h2 {
    font-size: 40px;
    font-weight: bolder;
}

.befirst .befirst_content p {
    padding-top: 10px;
    padding-bottom: 60px;
    opacity: 0.6;
}

.befirst .befirst_image {
    text-align: center;
}

.befirst .befirst_image img {
    width: 40%;
}