*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix {
    clear: both;
}


/* .................first section....... */

.header {
    width: 100%;
    height: 800px;
    background-image: url("../images/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header .header_head {
    padding-top: 20px;
}

.header .header_head img {
    float: left;
}

.header .header_head nav {
    float: right;
}

.header .header_head nav ul li {
    display: inline-block;
    padding-left: 15px;
}

.header .header_head nav ul li a {
    text-decoration: none;
    color: #fff;
}

.header .header_head nav ul li a:hover {
    color: rgb(223, 219, 219);
}

.header .header_content {
    width: 60%;
    margin: auto;
    position: absolute;
    top: 45%;
    left: 20%;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
}

.header .header_content h1 {
    font-size: 50px;
}

.header .header_content p {
    padding-top: 15px;
    opacity: 0.8;
    font-size: 18px;
}

.header .header_content button {
    padding: 20px 27px;
    margin-top: 40px;
    margin-left: 15px;
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 13px;
}

.header .header_content button:first-child {
    background: #fff;
    color: rgb(27, 27, 27);
}

.header .header_content button:last-child {
    background: #70cbce;
    color: #fff;
}

.header .header_footer {
    width: 35px;
    height: 70px;
    position: absolute;
    bottom: 15%;
    left: 48.5%;
    border: 2px solid #fff;
    border-radius: 20px;
}

.header .header_footer .scroll {
    width: 4px;
    height: 10px;
    margin: auto;
    background: #fff;
    position: relative;
    top: 10px;
    animation: scrolling 1.3s ease-in-out infinite;
}

@keyframes scrolling {
    0% {
        opacity: 0;
        top: 15px;
    }
    30% {
        opacity: 1;
        top: 20px;
    }
    100% {
        opacity: 0;
        top: 40px;
    }
    /* 75% {
        opacity: 0;
        top: 40px;
    }
    100% {
        opacity: 1;
        top: 45px;
    } */
}


/* .................................... */

section.befirst {
    width: 100%;
    height: 600px;
    background-image: url("../images/be-the-first-bg.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 15%;
    text-align: center;
    background-attachment: fixed;
    margin-bottom: 25%;
}

.befirst .befirst_content {
    color: #fff;
    text-transform: capitalize;
}

.befirst .befirst_content h2 {
    font-size: 40px;
    font-weight: bolder;
}

.befirst .befirst_content p {
    padding-top: 10px;
    padding-bottom: 60px;
    opacity: 0.6;
}

.befirst .befirst_image {
    text-align: center;
}

.befirst .befirst_image img {
    width: 40%;
}


/* ............................... */

.feature {
    width: 100%;
    height: 300px;
}

.feature .feature_feat {
    width: 32%;
    float: left;
    text-transform: capitalize;
    margin-left: 2%;
}

.feature .feature_feat:nth-child(1) {
    margin-left: 0;
}

.feature .feature_feat hr {
    height: 4px;
    border: 0;
    width: 100%;
    margin-bottom: 25px;
}

.feature .feature_feat h2 {
    font-size: 16px;
}

.feature .feature_feat p {
    opacity: 0.5;
    padding-top: 20px;
    font-size: 15px;
}

.feature .feature_feat:nth-child(1) hr {
    background-color: #6d3f96;
}

.feature .feature_feat:nth-child(2) hr {
    background-color: #70cbce;
}

.feature .feature_feat:nth-child(3) hr {
    background-color: #fdc05d;
}


/* .................................... */

.pricing {
    width: 100%;
    text-align: center;
    background: #70cbce;
    padding-top: 10%;
    padding-bottom: 15%;
}

.pricing h2 {
    font-size: 40px;
    color: #fff;
    font-weight: bolder;
}

.pricing p {
    color: #fff;
    padding-top: 10px;
    opacity: 0.8;
    margin-bottom: 5%;
}

.pricing .pricing_flex {
    display: flex;
    width: 100%;
    justify-content: center;
}

.pricing .pricing_flex .pricing_card {
    width: 33%;
}

.pricing .pricing_flex .pricing_card:nth-child(1),
.pricing .pricing_flex .pricing_card:nth-child(3) {
    margin-top: 2%;
}

.pricing .pricing_flex .pricing_card:nth-child(2) ul {
    border: 1px solid #ddd;
    /* box-shadow: 10px 10px 60px #eee; */
}

.pricing .pricing_flex .pricing_card ul {
    list-style: none;
    background: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: all 0.4s ease-in-out;
}

.pricing .pricing_flex .pricing_card ul:hover {
    margin-top: -10px;
}

.pricing .pricing_flex .pricing_card .price {
    background: #231f20;
    color: #fff;
    padding: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 15px;
    font-weight: 100;
}

.pricing .pricing_flex .pricing_card .doller {
    background: #231f20;
    color: #fff;
    font-size: 30px;
    font-weight: bolder;
    padding: 20px;
    transition: all 0.5s ease-in-out;
}

.pricing .pricing_flex .pricing_card .doller:hover {
    opacity: 0.9;
}

.pricing .pricing_flex .pricing_card .doller small {
    color: #929496;
    font-weight: normal;
}

.pricing .pricing_flex .pricing_card .content {
    color: #929496;
    padding: 20px;
    font-size: 13px;
    border-bottom: 1px solid #eee;
}

.pricing .pricing_flex .pricing_card .list {
    padding: 20px;
    border-bottom: 1px solid #eee;
    font-weight: bolder;
    font-size: 13px;
    color: #231f20;
}

.pricing .pricing_flex .pricing_card .btn {
    padding: 20px;
    color: #70cbce;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.pricing .pricing_flex .pricing_card .btn:hover {
    background: #eee;
}


/* ............................................ */

.invite {
    width: 100%;
    background: #f5f5f5;
}

.invite .get_invite {
    text-align: center;
    padding-top: 15%;
    padding-bottom: 15%;
}

.invite .get_invite i {
    padding: 16px;
    border: 2px solid #70cbce;
    border-radius: 50%;
    font-size: 22px;
    color: #70cbce;
}

.invite .get_invite h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 35px;
    text-transform: capitalize;
    font-weight: bolder;
}

.invite .get_invite p {
    color: #888;
    margin-bottom: 25px;
}

.invite .get_invite input {
    display: block;
    margin: auto;
    padding: 18px 10px;
    width: 33%;
    border: 0;
    margin-bottom: 15px;
    background: #fff;
    outline: 0;
}

.invite .get_invite input:focus {
    border: 2px solid #70cbce;
    border-radius: 3px;
}

.invite .get_invite input:hover {
    outline: 1px solid #aaa;
}

.invite .get_invite input::placeholder {
    color: #bbb;
    font-weight: bolder;
}

.invite .get_invite button {
    padding: 18px 30px;
    text-transform: uppercase;
    color: #fff;
    border: 0;
    background: #70cbce;
    border-radius: 5px;
}


/* ................................. */

.info {
    width: 100%;
    height: 500px;
}

.info .info_content {
    width: 80%;
    margin: auto;
    padding-top: 3%;
}

.info .info_content:first-child {
    padding-top: 10%;
}

.info .info_content .info_img {
    float: left;
    width: 20%;
}

.info .info_content .info_img img {
    width: 100%;
}

.info .info_content .info_pragraph {
    line-height: 23px;
    padding-top: 10px;
}

.info .info_content .info_pragraph p {
    color: #777;
}

.info .info_content .info_pragraph p span {
    font-style: italic;
    color: #333;
}

.info hr {
    margin-top: 20px;
    width: 100%;
    opacity: 0.3;
}